<!DOCTYPE html> 
<html manifest="/app.manifestremovethis">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>Lift</title>
<link rel="icon" type="image/png" href="/images/icon.png" />
<link rel="apple-touch-icon" href="/images/touch.png" />
<link rel="stylesheet" type="text/css" href="/lib/beta/css/client.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />
<link rel="stylesheet" type="text/css" href="lift.css"/>

<script type="text/javascript" src="/jquery/jquery-1.5.1.js"></script>
<script type="text/javascript" src="/jquery/jquery.tmpl.min.js"></script>
<script type="text/javascript">
$(document).bind('mobilinit', function(){
    
    
});

</script>
<script type="text/javascript" src="/jquery/jquery.mobile-1.0a3.js"></script>

<script type="text/javascript" src="/lib/beta/js/json2.min.js"></script>
<script type="text/javascript" src="/lib/beta/js/utils.js"></script>
<script src="lift.js"></script>
<script type="text/javascript">
var lift = namespace.lookup("com.pageforest.lift");
$(document).ready(lift.onReady);
</script>
</head>
<body>

<script id="homePageTemplate" type="text/html">
	<div data-role="header">
		<h1>${ header }</h1>
		<a data-icon="star" class="sign-in">Sign In</a>
	</div>
	<div data-role="content">
		{{tmpl($data.workoutGroups) "#workoutGroupTemplate"}}
	</div>
	<div data-role="footer">
		<h4 class='invis'>${ footer }</h4>
	</div>
</script>

<script id="workoutGroupTemplate" type="text/html">
	<div data-role=collapsible data-collapsed="true">
		<h3>${ name }</h3>
		<div data-role=controlgroup>
			{{tmpl($data.workouts) "#workoutNamesTemplate"}}
		</div>
	</div>
</script>

<script id="workoutNamesTemplate" type="text/html">
	<a href="#${id}" data-role="button" data-iconpos="right" data-icon="arrow-r" >${name}</a>
</script>

<script id="workoutPagesTemplate" type="text/html">
<div data-role="page" id="${ id }" data-url="${ id }">
	<div data-role="header">
		<a href="#home" data-icon="arrow-l" data-direction="reverse" data-transition="slide" >Back</a>
		<h1>${ name }</h1>
		<a data-icon="star" class="sign-in">Sign In</a>
	</div>
	<div data-role="content">
		{{each(i, ex) exs}}
			<a href="#${ id }-${ i }" data-role="button" data-iconpos="right" data-icon="arrow-r" >${ ex.name }</a>
		{{/each}}
	</div>
	<div data-role="footer">
		<h4 class='invis'>invisible text</h4>
	</div>
</div>

{{each(i, ex) exs}}
<div data-role="page" id="${ id }-${ i }"  data-url="${ id }-${ i }">
	<div data-role="header">
		<a href="#${ id }" class="save" data-icon="arrow-l" data-direction="reverse" data-transition="slide" >Back</a>
		<h1>${ name }</h1>
		<a data-icon="star" class="sign-in">Sign In</a>
	</div>
	<div data-role="content">
		<div class=ui-grid-a>
			<div class=ui-block-a>
				<h4>Weight</h4>
				{{each(j, set) sets}}
					<input type=number id="${id}-${i}-w${j}"></input>
				{{/each}}
			</div>
			<div class=ui-block-b>
				<h4>Reps</h4>
				{{each(j, set) sets}}
					<input type=number id="${id}-${i}-r${j}"></input>
				{{/each}}
			</div>
		</div>
		{{if (i + 1) == exs.length}}
			<a href="#${ id }" class='save' id="${ id }-${ i }-save" data-role="button" data-icon="check" data-direction="reverse" data-transition="slide" >Finished</a>
		{{else}}
			<a href="#${ id }-${ i + 1 }" class='save' id="${ id }-${ i }-save" data-role="button" data-icon="check">Next</a>
		{{/if}}
		<h4 class='rest-timer'>Rest Timer</h4>
		<h1 class="timer">00:00</h1>
		<a data-role="button" data-icon="play" id="start" class="start">Start Timer</a>
		<p> ${ ex.info } </p>
		{{if exs[i].links !== undefined}}
			{{each(i, link) links}}
				<a href="${ link.url }" target="_blank" data-role="button" data-iconpos="right" data-icon="info" >${ link.name }</a>
			{{/each}}
		{{/if}}
	</div>
	<div data-role="footer">
		<h4 class='invis'>invisible text</h4>
	</div>
</div>


{{/each}}
</script>

<div data-role="page" id="home">
</div>



<!-- 

delete and add sets buttons

<div class=ui-grid-b>
			<div class=ui-block-a>
				<h4>Weight</h4>
				{{each(j, set) sets}}
					<input type=number id="${id}-${i}-w${j}"></input>
				{{/each}}
			</div>
			<div class=ui-block-b>
				<h4>Reps</h4>
				{{each(j, set) sets}}
					<input type=number id="${id}-${i}-r${j}"></input>
				{{/each}}
			</div>
			<div class=ui-block-c>
				<a data-role="button" class="invis-button" data-iconpos="notext">holder</a>
				{{each(j, set) sets}}
					{{if j < (sets.length - 1)}}<a data-role="button" data-icon="delete" data-iconpos="notext"></a>{{/if}}
				{{/each}}
				<a data-role="button" data-icon="plus" data-iconpos="notext"></a>
			</div>
		</div>

 -->




<!-- 

//editing exercises in a workout

<div class=ui-grid-a>
			<div class="ui-block-a w-edit">
				<div data-role=controlgroup>
					{{each(i, ex) exs}}
						<a href="#${ id }-${ i }" data-role="button" data-iconpos="right" data-icon="arrow-r" >${ ex.name }</a>
					{{/each}}
				</div>
			</div>
			<div class="ui-block-b w-edit">
				{{each exs}}
					<div data-role="controlgroup" data-type="horizontal">
						<a data-role="button" data-icon="arrow-d" data-iconpos="notext">Move down</a>
						<a data-role="button" data-icon="arrow-u" data-iconpos="notext">Move up</a>
						<a data-role="button" data-icon="delete" data-iconpos="notext">Delete</a>
					</div>
				{{/each}}
				<a data-role="button" data-icon="plus" data-iconpos="notext">Add Exercise</a>
			</div>
		</div> 
		
		
		<a href="#editW" data-role="button" data-rel="dialog" data-transition="pop">Edit this workout</a>
		-->






<!-- 

<div data-role="page" id="chest-1">
	<div data-role="header">
		<a href="#chest" data-icon="arrow-l">Back</a>
		<h1>Incline Bench Press</h1>
	</div>
	<div data-role="content">
		<a href="#chest-1-form" data-role="button">Proper Form</a>
		<div class=input>
			<h4>Weight</h4><h4>Reps</h4>
			
			<div>
				<input type=number></input>
				<input type=number></input>
			</div>
			<div>
				<input type=number></input>
				<input type=number></input>
				<a data-role="button" data-icon="delete" data-iconpos="notext"></a>
			</div>
			<div>
				<input type=number></input>
				<input type=number></input>
				<a data-role="button" data-icon="delete" data-iconpos="notext"></a>
			</div>
			<a class="right" data-role="button" data-icon="plus" data-iconpos="notext"></a>
		</div>
		<h1 class="timer">00:00</h1>
		<div data-role=controlgroup>
			<a data-role="button" data-icon="play">Start Timer</a>
			<a data-role="button" data-icon="refresh">Restart Timer</a>
			<a data-role="button" data-icon="plus">Add a Set</a>
			<a href="#chest-2" data-role="button" data-icon="check">Next Ex</a>
		</div>
		<a href="#chest" data-role="button" data-icon="back">Workout Home</a>
	</div>
	<div data-role="footer">
		<h4> </h4>
	</div>
</div>

<div data-role="page" id="chest-1-form">
	<div data-role="header">
		<h1>Incline Bench Press Form</h1>
	</div>
	<div data-role="content">
		<a href="http://exrx.net/WeightExercises/PectoralClavicular/BBInclineBenchPress.html" data-role="button">Barbell Incline Bench Press</a>
		<a href="http://exrx.net/WeightExercises/PectoralClavicular/DBInclineBenchPress.html" data-role="button">Dumbbell Incline Bench Press</a>
	</div>
	<div data-role="footer">
		<h4> </h4>
	</div>
</div>


<div data-role="page" id="chest-2">
	<div data-role="header">
		<a href="#chest" data-icon="arrow-l">Back</a>
		<h1>Decline Bench Press</h1>
	</div>
	<div data-role="content">
		<a href="#chest-2-form" data-role="button">Proper Form</a>
		<div class=ui-grid-a id=>
			<div class=ui-block-a>
				<h4>Weight</h4>
				<input type=number></input>
				<input type=number></input>
				<input type=number></input>
			</div>
			<div class=ui-block-b>
				<h4>Reps</h4>
				<input type=number></input>
				<input type=number></input>
				<input type=number></input>
			</div>
		</div>
		<h1 class="timer">00:00</h1>
		<div data-role=controlgroup>
			<a data-role="button" data-icon="play">Start Timer</a>
			<a data-role="button" data-icon="refresh">Restart Timer</a>
			<a data-role="button" data-icon="plus">Add a Set</a>
			<a href="#chest-3" data-role="button" data-icon="check">Next Ex</a>
		</div>
		<a href="#chest" data-role="button" data-icon="back">Workout Home</a>
	</div>
	<div data-role="footer">
		<h4> </h4>
	</div>
</div>

<div data-role="page" id="chest-2-form">
	<div data-role="header">
		<h1>Decline Bench Press Form</h1>
	</div>
	<div data-role="content">
		<a href="http://exrx.net/WeightExercises/PectoralSternal/BBDeclineBenchPress.html" data-role="button">Barbell Decline Bench Press</a>
		<a href="http://exrx.net/WeightExercises/PectoralSternal/DBDeclineBenchPress.html" data-role="button">Dumbbell Decline Bench Press</a>
	</div>
	<div data-role="footer">
		<h4> </h4>
	</div>
</div>


<div data-role="page" id="chest-3">
	<div data-role="header">
		<a href="#chest" data-icon="arrow-l">Back</a>
		<h1>Chest Fly</h1>
	</div>
	<div data-role="content">
		<a href="#chest-3-form" data-role="button">Proper Form</a>
		<div class=ui-grid-a id=>
			<div class=ui-block-a>
				<h4>Weight</h4>
				<input type=number></input>
				<input type=number></input>
				<input type=number></input>
			</div>
			<div class=ui-block-b>
				<h4>Reps</h4>
				<input type=number></input>
				<input type=number></input>
				<input type=number></input>
			</div>
		</div>
		<h1 class="timer">00:00</h1>
		<div data-role=controlgroup>
			<a data-role="button" data-icon="play">Start Timer</a>
			<a data-role="button" data-icon="refresh">Restart Timer</a>
			<a data-role="button" data-icon="plus">Add a Set</a>
			<a href="#chest" data-role="button" data-icon="check">Finished!</a>
		</div>
		<a href="#chest" data-role="button" data-icon="back">Workout Home</a>
	</div>
	<div data-role="footer">
		<h4> </h4>
	</div>
</div>

<div data-role="page" id="chest-3-form">
	<div data-role="header">
		<h1>Chest Fly Form</h1>
	</div>
	<div data-role="content">
		<a href="http://exrx.net/WeightExercises/PectoralSternal/LVSeatedFly.html" data-role="button">Seated Chest Fly</a>
		<a href="http://exrx.net/WeightExercises/PectoralSternal/LVPecDeckFly.html" data-role="button">Deck Chest Fly</a>
	</div>
	<div data-role="footer">
		<h4> </h4>
	</div>
</div>


 -->



</body>
</html>